.coockie__container{
    background-image: url(./images/traditional-fortune-cookies-on-red-background_123827-25756.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    justify-content: center;
    max-width: 75%;
    height: 950px;
    margin: 60px 15%;
    align-items: center;
}

.top{
    min-height: 10%;
    padding: 10px;
}

.h1{
    color: rgb(255, 255, 255);
    font-family: Caveat;
    font-size: 35pt;
    text-align: center;
}

.center{
    border: 3px dashed rgb(255, 255, 255);
    padding: 20% 25%;
}

.takeyours{
    background-color: rgb(241, 206, 5);
    border-radius: 50%;
    border: 8px dashed rgb(204, 24, 18);
    color: rgb(204, 24, 18);
    width: 160px;
    height: 160px;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
}

.down{
    max-width: 85%;
    min-height: 10%;
    padding-bottom: 20px;
}

.yours{
color: rgb(255, 255, 255);
font-family: Caveat;
text-align: center;
font-size: 30px;
}

.made{
    color: rgb(204, 24, 18);
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 992px){
    .cover{
        background-color: rgb(204, 24, 18);
    }
    .coockie__container{
        background-image: none;
        border-radius: 10%;
        max-width: 100%;
        min-height: 90%;
        margin: 0;
    }
    .top{
        text-shadow: 1px 1px 2px rgb(143, 143, 143);
    }

    .center{
        background-image: url(./images/traditional-fortune-cookies-on-red-background_123827-25756.jpg);
        background-size: 170%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .takeyours{
        width: 180px;
        height: 180px;
        font-size: 25pt;
        justify-self: center;
    }
    
    .down{
        max-width: 90%;
        min-height: 5%;
        padding-bottom: 5px;
        font-size: 22pt;
    }
    
    .yours{
    color: rgb(255, 255, 255);
    font-family: Caveat;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(143, 143, 143);
    }
    
    .made{
        color: rgb(241, 76, 71);
        margin: 0;
    }
} 